<%- model_class = Anamnesi -%>
<div class="page-header">
  <h1><%=t '.title', :default => Anamnesi %></h1>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:queixa_principal) %></dt>
      <dd><pre class="prettyprint"><%= @anamnesi.queixa_principal %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:como_aconteceu) %></dt>
      <dd><pre class="prettyprint"><%= @anamnesi.como_aconteceu %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:data_inicio) %></dt>
      <dd><pre class="prettyprint"><%= @anamnesi.data_inicio %></pre></dd>
  </dl>
</div>

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              anamnesis_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_anamnesi_path(@anamnesi), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              anamnesi_path(@anamnesi),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

